<nav class="navbar navbar-dark bg-dark navegador">
    <div class="container-fluid">
      <div class="icon-ArgPro">
        <img src="../assets/Logo Argentina Programa.png" />
      </div>

      <div class="logos">
        <a href="https://www.instagram.com/juanmartinviale" target="_blank">
          <i
            style="font-size: 2em; color: rgb(255, 255, 255)"
            class="fa-brands fa-instagram"
          ></i>
        </a>

        <a href="https://www.facebook.com/juanmartinviale" target="_blank">
          <i
            style="font-size: 2em; color: rgb(255, 255, 255)"
            class="fa-brands fa-facebook"
          ></i>
        </a>

        <div class="dropdown">
          <button
            type="button"
            class="btn btn-secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            Registrarse
          </button>
          <form class="dropdown-menu p-4">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail2" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleDropdownFormEmail2"
                placeholder="email@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="exampleDropdownFormPassword2" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleDropdownFormPassword2"
                placeholder="Password"
              />
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="dropdownCheck2"
                />
                <label class="form-check-label" for="dropdownCheck2">
                  Remember me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </nav>